*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-colour: #fff;
  --highlight-colour: #111;
  --heading-colour: #222;
  --paragraph-colour: #555;
  --accent-colour: #e9eb93;
  --accent-colour-2: #fafbe5;

  --font-heading: serif;
  --font-paragraph: serif;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  font-family: var(--font-paragraph);
  background-color: var(--bg-colour);
  color: var(--paragraph-colour);
  line-height: 1.5;

  margin: 4rem;
  max-width: 40%;
}

@media (max-width: 768px) {
  body {
    margin: 2rem;
    max-width: 70%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: var(--heading-colour);
  font-weight: 700;
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.8rem;
  margin-top: 1.7rem;
}

h3 {
  font-size: 1.6rem;
  margin-top: 1.7rem;
}

h4 {
  font-size: 1.6rem;
  margin-top: 1.7rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  font-family: var(--font-paragraph);
  font-size: 1.5rem;
  color: var(--paragraph-colour);
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: var(--paragraph-colour);
}

a:hover {
  text-decoration: underline;
}

a.back {
  background-color: var(--bg-colour) !important;
  font-family: var(--font-heading) !important;
  color: var(--heading-colour) !important;
}

a.back::before {
  content: "\21A9\FE0E";

  font-variant-ligatures: none;
  display: inline-block;
  margin-right: 0.5rem;
}

a:not(.back)::after {
  content: "\2197\FE0E";

  font-variant-ligatures: none;
  display: inline-block;
  margin-left: 0.2rem;
}

::selection,
::-moz-selection {
  background-color: var(--accent-colour);
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

blockquote {
  font-style: italic;
  border-left: 3px solid var(--accent-colour);
  padding-left: 1rem;
}

.highlight,
em {
  background-color: var(--accent-colour);
  padding: 0 0.2rem;
  font-style: normal;
}

ol {
  list-style-type: none;
  counter-reset: list;
  padding-left: 1rem;
  border-left: 6px solid var(--accent-colour);
}

ol li {
  counter-increment: list;
  font-family: var(--font-paragraph);
  font-size: 1.5rem;
  color: var(--paragraph-colour);
}

ol li::before {
  content: counter(list) ". ";
  font-size: 1.5rem;
  color: var(--highlight-colour);
  margin-right: 0.5rem;
}
