<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Kiro</title>

    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📊</text></svg>"
    />

    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <h1>kiro</h1>
    <p><i>&ldquo;a cute system monitor&rdquo;</i></p>
    <div id="system">
      <h2 id="host__name">system [127.0.0.1:3000]</h2>

      <ol>
        <li><span id="os">Ubuntu 20.04.2 LTS</span></li>
        <li>kernel <span id="kernel">5.4.0-80-generic</span></li>
        <li>uptime <span id="uptime">just now</span></li>
        <li>cpu usage <span id="cpu__usage">00.00</span>%</li>
        <li>free memory <span id="free__memory">000</span> MB</li>
        <li>used memory <span id="used__memory">000</span> MB</li>
        <li>total memory <span id="total__memory">000</span> MB</li>
      </ol>
    </div>
  </body>

  <script>
    const $ = (query) => document.querySelector(query);
    const toMB = (bytes) => Math.round(bytes / 1024 / 1024);
    const toDuration = (ms) => {
      const units = [
        { label: "days", value: 24 * 60 * 60 * 1000 },
        { label: "hours", value: 60 * 60 * 1000 },
        { label: "minutes", value: 60 * 1000 },
        { label: "seconds", value: 1000 },
      ];

      return units.reduce((acc, { label, value }) => {
        acc[label] = Math.floor(ms / value);
        ms %= value;
        return acc;
      }, {});
    };

    const socket = new WebSocket("ws://0.0.0.0:3000/ws");
    const formatter = new Intl.DurationFormat("en", { style: "long" });

    socket.onmessage = (event) => {
      const data = JSON.parse(event.data);

      $("#host__name").innerText = `${data.host_name} [${data.local_ip}]`;

      $("#cpu__usage").innerText = data.cpu_usage.toFixed(2);
      $("#free__memory").innerText = toMB(data.free_memory);
      $("#used__memory").innerText = toMB(data.used_memory);
      $("#total__memory").innerText = toMB(data.total_memory);
      $("#uptime").innerText = formatter.format(toDuration(data.uptime * 1000));
      $("#os").innerText = data.os.toLowerCase();
      $("#kernel").innerText = data.kernel;
    };
  </script>
</html>
